<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="MUSIC" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;
         Data Source=|DataDirectory|\TheSoundDB.accdb" />
  </connectionStrings>

    <system.web>
      
      <authentication mode="Forms">
        <forms loginUrl="SignIn.aspx" name=".ASPXFORMSAUTH" defaultUrl="~/Home.aspx" >
        </forms>
      </authentication>
      
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" />
    </system.web>
  
  <system.webServer>
   <security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
   </security>
 </system.webServer>
  
<appSettings>

    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

</appSettings > 

</configuration>
